body {
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'header header header aside'
                         'section section section aside'
                         'footer footer footer footer';
grid-template-columns: 24.6vw 24.6vw 24.6vw 24.6vw;
grid-template-rows: 8vh 80vh 60vh 10vh;
margin: 0;
cursor: url('../images/kunai.png'), default;
background: #ba131a;
}

header {
    grid-area: header;
    background-image: url("../images/akats.png");
    background-size: cover;
}

nav {
    display: flex;
    grid-area: nav;
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(56, 59, 47);
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
}

nav > img{
    width: 55px; 
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: rgb(186, 19, 26);
    cursor: url("../images/kunai.png"), default;
}
aside {
    grid-area: aside;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4e4d4d;
}
aside h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
aside p {
    font-family: 'Montserrat', sans-serif;
}
aside ul {
    list-style-image: url("../images/logo\ aka.png");

}
aside ul li {
    color: white;
}
section {
    grid-area: section;
}
section input::placeholder {
    color: black;
}
section h2 {
    margin: 0%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
section div {
    display: flex;
    justify-content: center;
}
footer {
    grid-area: footer;
}